<!doctype html>
<html lang="pt-BR">
  {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block 'head' %} {%endblock%}
    <title>Biblioteca João Guimarães Rosa CEMEB {% block 'titulo' %}  {% endblock %}</title>

    

  </head>




  <body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 text-center" href="#"><img src="{% static 'imgs/logo-branco.png' %}"  style="max-width: 48px;min-height: 48px;" class="logo img-fluid"></a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="navbar-nav navbar-dark">
          <div class="nav-item text-nowrap text-start text-light">
            <h4 style="margin-right: 100px">Biblioteca João Guimarães Rosa CEMEB</h4>
          </div>
        </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse bg-dark">
          <div class="position-sticky pt-3">
            
            <ul class="nav flex-column mt-4">
              <li class="nav-item">
                <a class= {% block 'navbar-dashboard' %} "nav-link active navbar-brand" {%endblock%}"  aria-current="page" href="{% url 'manager' %}">
                  <i class="bi bi-clipboard-data-fill"></i>
                  
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class={% block 'navbar-livros' %} "nav-link text-light navbar-brand" {%endblock%}"  href="{% url 'livros' %}">
                  <i class="bi bi-book"></i>
                  Livros
                </a>
              </li>
              <li class="nav-item">
                <a class={% block 'navbar-emp' %}"nav-link text-light navbar-brand" {%endblock%} href="{% url 'emprestimos' %}">
                  
                  <i class="bi bi-list-check"></i>
                  Empréstimos
                </a>
              </li>
            </ul>
    
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class={% block 'navbar-usuario' %} "nav-link text-light navbar-brand" {%endblock%} href="{% url 'usuarios' %}">
                  <i class="bi bi-person-badge-fill"></i>
                  Usuários
                </a>
              </li>
              
            </ul>

            <ul class="nav flex-column mb-2 ">
              <li class="nav-item">
                <a href="{% url 'sair' %}" class="nav-link text-light navbar-brand">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" class="bi bi-power" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                    <path d="M7.5 1v7h1V1h-1z"/>
                    <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z"/>
                    
                  </svg>
                  Sair
                </a>
              </li>
              
            </ul>
          </div>
        </nav>
    
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
          
          {% for message in messages %}
            <div class="container-fluid p-0">
                
              <div class="{{ message.tags }}" role="alert" >
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                  <span aria-hidden="True">&times;</span>
                </button>
                
              </div>
            </div>
          {% endfor %}
          
          {% block 'conteudo' %} {%endblock%}
              
        </main>
      </div>
    </div>
    

    {% block 'scripts' %} {%endblock%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>
    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>   -->





  </body>
</html>